[submodule "CodeRage2018-ChristmasGame"]
	path = CodeRage2018-ChristmasGame
	url = https://github.com/DeveloppeurPascal/CodeRage2018-ChristmasGame.git
[submodule "WhereIsBernie-GGJ21"]
	path = WhereIsBernie-GGJ21
	url = https://github.com/DeveloppeurPascal/WhereIsBernie-GGJ21.git
[submodule "BoiteAMeuh"]
	path = BoiteAMeuh
	url = https://github.com/DeveloppeurPascal/BoiteAMeuh.git
[submodule "TetrisLike"]
	path = TetrisLike
	url = https://github.com/DeveloppeurPascal/TetrisLike.git
[submodule "Casse-Briques"]
	path = Casse-Briques
	url = https://github.com/DeveloppeurPascal/Casse-Briques.git
[submodule "LDJAM52-Harvest"]
	path = LDJAM52-Harvest
	url = https://github.com/DeveloppeurPascal/LDJAM52-Harvest.git
[submodule "TaquinDXBooks"]
	path = TaquinDXBooks
	url = https://github.com/DeveloppeurPascal/TaquinDXBooks.git
[submodule "Spooch"]
	path = Spooch
	url = https://github.com/DeveloppeurPascal/Spooch.git
[submodule "Champter"]
	path = Champter
	url = https://github.com/DeveloppeurPascal/Champter.git
